<html>
<head>
</head>
<body bgcolor="RED">

Dear ${firstName} ${lastName}
 
${body}


<h2>DATA OF KYC LEGAL</h2></p>  
<table style="width:100%" border="1">
  <tr>
<th>KYC ID</th> 
<th>NAME</th>
<th>DATE OF ESTABLISHMENT</th>
<th>PHONE NUMBER</th>
<th>EMAIL</th>
<th>CUSTOMER ID</th>
<th>LAST KYC UPDATED DATE</th>
  </tr>
  #foreach($kyclRefreshDataBeforeSchedule in ${listRefreshDateReachingOfKycl})
       <tr>
    <td>${kyclRefreshDataBeforeSchedule.kycId}</td>
    <td>${kyclRefreshDataBeforeSchedule.nameOfCustomer}</td> 
    <td>${kyclRefreshDataBeforeSchedule.dateOfEstablishment}</td>
    <td>${kyclRefreshDataBeforeSchedule.phoneNo}</td>
    <td>${kyclRefreshDataBeforeSchedule.emailId}</td> 
    <td>${kyclRefreshDataBeforeSchedule.custId}</td>
    <td>${kyclRefreshDataBeforeSchedule.lastKycUpdatedDate}</td> 
  </tr>
    #end
</table>





 
    
 <h2>DATA OF KYC NATURAL</h2></p>   
    <table style="width:100%" border="1">
  <tr>
<th>KYC ID</th> 
<th>NAME</th>
<th>DATE OF BIRTH</th>
<th>PHONE NUMBER</th>
<th>Email</th>
<th>CUSTOMER ID</th>
<th>LAST KYC UPDATED DATE</th>
  </tr>
   #foreach($kyclRefreshDataBeforeSchedule in ${listRefreshDateReachingOfKycn})
     <tr> 
    <td>${kyclRefreshDataBeforeSchedule.kycId}</td>
    <td>${kyclRefreshDataBeforeSchedule.nameOfCustomer}</td> 
    <td>${kyclRefreshDataBeforeSchedule.dateOfBirth}</td>
    <td>${kyclRefreshDataBeforeSchedule.phoneNo}</td>
    <td>${kyclRefreshDataBeforeSchedule.emailId}</td> 
    <td>${kyclRefreshDataBeforeSchedule.custId}</td>
    <td>${kyclRefreshDataBeforeSchedule.lastKycUpdatedDate}</td> 
    </tr>
    #end
</table>
    
<p>This is an automated message informing you that your application.
</p>

<p>

</p>
<p>

    Remarks :Request Accepted<br/>


    Thank you for using online services.<br/>

</p>

<p>
    Best Regards,
   
</p>


<b>THIS MESSAGE IS SYSTEM GENERATED - PLEASE DO NOT REPLY TO THIS EMAIL.</b>

</body>
</html>